:root {
  --root-bg-color: #d1e9d3;

  --border-color2: #817474;
  --border-color: #000000;
  --panel-bg-color: #d1e9d3;
  --button-bg-color-active: #90e090;
  --button-bg-color-inactive: #b9b9b9;
  --shadow-bg-color: #000000a0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.panel-left {
  position: absolute;
  left: 0;
  opacity: 0;
  top: 50%;
  bottom: 50%;
  width: 0;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 15px 5px 15px -5px var(--shadow-bg-color);
  background: var(--panel-bg-color);
  overflow: hidden;
  transition:
    opacity .6s ease-in-out .3s,
    width .4s ease-in-out .5s,
    top .4s ease-in-out .1s,
    bottom .4s ease-in-out .1s;
  z-index: 3;
}

.panel-left.active {
  opacity: 1;
  top: 0;
  bottom: 0;
  width: 250px;
  transition:
    opacity .6s ease-in-out .0s,
    width .4s ease-in-out .1s,
    top .4s ease-in-out .5s,
    bottom .4s ease-in-out .5s;
}

.menu-button {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.close-button {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
}
